{% if items is empty %}
    Your cart is empty!!
{% else %}
    
{% for item in items %}
    <li>
        <a href="#"><img width="50" height="50" src="{{  asset(directorio_imagenes ~ item.producto.rutaFoto) }}" />
        {{ item.producto }}
    </li>
{% endfor %}
    
{% endif %}