{% extends '::frontend.html.twig' %}

{% block section %}

<h4>{{ "Carrito de Compra" | trans }}</h4>

{% for item in items %}
    <div>
        {{ 'Id: ' ~ item.id }}
        
        <br>
    </div>
{% else %}
  <h1>NO HAY ITEMS</h1>
{% endfor %}
  
{% endblock %}