/* ===========================================================================
   Estructura
   ======================================================================== */
article {
    float: left;
    padding: 0 10px 0 20px;
    width: 700px;
}
article > section {
    margin-bottom: 1em;
}

section:before, section:after { content: ""; display: table; }
section:after { clear: both; }
section { zoom: 1; }

aside {
    float: right;
    padding: 0 20px 0 10px;
    width: 200px;
}

/* ===========================================================================
   Zona lateral
   ======================================================================== */
aside #login h2 {
    color: #777;
    margin: -.5em 0 .5em;
    text-align: center;
}
aside #login .boton {
    background-color: #008000;
    color: #FFF;
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 1em;
    padding: .5em 1em;
    text-align: center;
    text-shadow: none;
}
aside #login .boton:hover { background: rgba(0,128,0, 0.8); }
aside:hover #login .boton { text-decoration: none; }

aside #login form {
    background: #DCDCDC;
    padding: .5em;
}
aside #login label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
aside #login input[type="checkbox"] + label {
    display: inline;
}
aside #login input {
    font-size: 14px;
    padding: 2px;
    margin-bottom: 7px;
}
aside #login form input[type="submit"] {
    margin: 0;
    padding: 4px 7px;
    position: static;
}
aside #login input[name="_username"] {
    width: 170px;
}
aside #login input[name="_password"] {
    width: 110px;
}

/* Cuando el usuario ya se ha conectado... */
aside #login p strong {
    display: block;
    font-size: 18px;
}
aside #login a {
    display: block;
    font-size: 16px;
    margin: .5em;
}

aside #relacionadas ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
aside #relacionadas li {
    font-weight: bold;
}
aside #relacionadas li a {
    font-weight: normal;
}

aside #condiciones, aside #nosotros {
    color: #444;
}