{% extends '::frontend.html.twig' %}

{% block title %}Compras, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%{% endblock %}
{% block id 'productos' %}

{% block navbar %}
    {% include 'CompraBundle:Default:navbarFixed.html.twig' %}
{% endblock %}

{% block section %}
<div>
    </br>
</div>
<h3>Lista de Productos</h3>
<div class="container-fluid">
        {% for producto in productos %}
            {% include 'CompraBundle:Default:includes/miniproducto.html.twig' %}
        {% endfor %}
</div>
{% endblock %}